<footer class="footer">
  <p>
    <span class="footer-content-bite">© Data Donation Lab, 2023-present</span>
    <span class="footer-content-bite"><a href="https://github.com/uzh/ddm">DDM on GitHub</a></span>
  </p>
</footer>
