<footer class="footer">
  <div class="footer-content-bite"><a href="https://datadonation.uzh.ch"><img src="{{{uiRootPath}}}/img/DataDonationLab_Logo_Schwarz.svg" height="50px"></a></div>
  <div class="footer-content-bite">© Data Donation Lab, 2023-present</div>
  <div class="footer-content-bite"><a href="https://github.com/uzh/ddm">DDM on GitHub</a></div>
</footer>
