@media screen and (max-width: 1023.5px) {
  aside.toc.sidebar {
    display: none;
  }

  main > .content {
    overflow-x: auto;
  }
}

@media screen and (min-width: 1024px) {
  main {
    flex: auto;
    min-width: 0; /* min-width: 0 required for flexbox to constrain overflowing elements */
  }

  main > .content {
    display: flex;
  }

  aside.toc.embedded {
    display: none;
  }

  aside.toc.sidebar {
    flex: 0 0 var(--toc-width);
    order: 1;
  }
}

@media screen and (min-width: 1216px) {
  aside.toc.sidebar {
    flex-basis: var(--toc-width--widescreen);
  }
}

main > .content {
  justify-content: center;
}

main h1 {
  font-size: 2.2em;
}

main h2 {
  font-size: 2em;
}

main h3 {
  font-size: 1.8em;
  font-weight: normal !important;
}

main h4 {
  font-size: 1.5em;
  font-weight: normal !important;
}

main h5 {
  font-size: 1.3em;
}

main h6 {
  font-size: 1.1em;
}

.text-center {
  text-align: center;
}

.small {
  font-size: 0.8rem;
}
