@font-face {
  font-family: "BaiJamjuree";
  font-weight: normal;
  src: url(../font/BaiJamjuree-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "BaiJamjuree";
  font-weight: 550;
  src: url(../font/BaiJamjuree-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "BaiJamjuree";
  font-weight: bold;
  src: url(../font/BaiJamjuree-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  src: url(../font/Inter-VariableFont.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  src: url(../font/Inter-Italic-VariableFont.ttf) format("truetype");
}

@font-face {
  font-family: "Fira Code";
  src: url(../font/FiraCode-Variable.ttf) format("truetype");
}
